@charset "utf-8";
/* CSS Document For MSPC Martin Skinner Professional Coaching */

/*Backround and Font CSS - Current Font Famly - Helvetica - CHANGE TO DOWNLOADABLE FONT MARTIN SENT*/

  
  body {background-color:#000000;
  color:#F7F7F7;
  font-family: 'Rubik One', sans-serif;
  font-size:18px;
  font-weight:bold
    
  }
  
p {font-family: 'Rubik One', sans-serif;
font-size:20px;
font-style:normal;
color:#F7F7F7;

} 

h2 {
	margin: 15px auto 40px auto;
}

.top-nav {
	border: 1px solid red;
	width: 100%; 
	text-align: center;
}




#ul { 

colour:#F7F7F7;
list-style-type: none;

margin: 200px;
padding: 5px;
width: 1500px;
}

li {display:inline;}

li {border-right: 1px solid #EB171B;
    border-bottom-color: 1px solid #EB171B;}
	
li: last child {border-right-color: none;}

li {float: left;} 
li {float: left;} 
li {float:left;} 
li {float:left;}

li a { display: block;
       colour: #F7F7F7;
	   text-align: center;
	   padding: 14px 16px;
	   text-decoration: none; }
	   
li a:hover {background-color:#F70C10;}


@media screen{
}

@media (max-width: 1211px){
}
